@model IEnumerable<E_Commerce.Models.Category>

@{
    ViewData["Title"] = "GetAllCategories";
}

<h3>All Categories!</h3>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>

               <a asp-action="GetCategoryDetails" asp-route-id="@item.CategoryId"> Details &nbsp </a>

                    @if (User.IsInRole("admin"))
                    {
                        <a asp-action="EditCategory" asp-route-id="@item.CategoryId"> Edit &nbsp </a>
                        <a asp-action="RemoveCategory" asp-route-id="@item.CategoryId"> Delete &nbsp</a>
                    }
                   

            </td>
        </tr>
}
    </tbody>
</table>

<p>
    @if (User.IsInRole("admin"))
    {
        <a asp-action="AddCategory">Add New ? </a>
    }
    
</p>
